<div class="main_form" id="main_form">
    <%= form_for(:big_url, :remote => true) do |f| %>

      <input name="authenticity_token"
             type="hidden"
             value="<%= form_authenticity_token %>"/>

      <table>
        <tr>
          <td class="label"><%= f.label :url_input, t('home.url_input') %>:</td>
          <td class="field"><%= f.text_field :vc_real_url,
                                             placeholder: 'Your URL',
                                             size: 100,
                                             value: @big_url.present? ? @big_url.vc_real_url : '' %></td>
        </tr>
        <tr>
          <td class="label"><%= f.label :url_alias, t('home.url_alias') %>:</td>
          <td class="field"><%= f.text_field :vc_short_url,
                                             placeholder: 'Your alias for URL',
                                             size: 17,
                                             value: @big_url.present? ? @big_url.vc_short_url : '' %></td>
        </tr>
      </table>

      <div class="actions">
        <%= f.submit t('home.submit') %>
      </div>

    <% end %>
</div>