<div class="main_form hero-unit" id="main_form">
    <%= form_for(:big_url, :remote => true) do |f| %>

      <input name="authenticity_token"
             type="hidden"
             value="<%= form_authenticity_token %>"/>

      <table>
        <tr class="input_row">
          <td class="simple_label">
            <%= f.label :url_input, t('home.url_input') %>
          </td>
          <td class="field">
            <%= f.text_field :vc_real_url,
                placeholder: t(:'home.placeholder.vc_real_url'),
                size:        100,
                value:       @big_url.present? ? @big_url.vc_real_url : '',
                class:       'input-xxlarge'%>
          </td>
        </tr>

      </table>

      <div class="toggle_content"
           <%unless @big_url.present? && @big_url.vc_short_url.present?%>
               style="display: none;"
           <% end %> >
        <table>
          <tr class="input_row">
            <td class="simple_label">
              <%= f.label :url_alias, t('home.url_alias') %>
            </td>
            <td class="field">
              <%= f.text_field :vc_short_url,
                  placeholder: t(:'home.placeholder.vc_short_url'),
                  size:        19,
                  value:       @big_url.present? ? @big_url.vc_short_url : '' %>
            </td>
            <td class="check_button">
              <button id="check_alias_btn"
                      class="btn btn-info"
                      type="button">
                <%= t(:'home.check_alias_btn') %>
              </button>
            </td>
          </tr>
          <tr class="input_row">
            <td class="simple_label">
              <%= f.label :expire_date, t('home.expire_date') %>
            </td>
            <td class="field">
              <%= f.select :d_expire_tag,
                           BigUrl.values_for_expire,
                           :selected => params[:big_url].present? ? params[:big_url][:d_expire_tag] : "1W"%>
            </td>
          </tr>
        </table>

      </div>

      <div class="slide_toggle"
           onclick="jQuery('.toggle_content').slideToggle('fast'); return false">
        <a id="addition_options_toogle"
           class="pseudo_link"
           onclick="return false;"
           href="#" >
          <span>
            <%= t(:'home.additional_options') %>
          </span>
        </a>
      </div>

      <div class="actions">
        <%= f.submit t('home.submit'), class: 'btn btn-primary' %>
      </div>

    <% end %>

  <script>
    <% #TODO make preaty class for change button %>
    bindClickEvent('check_alias_btn', 'big_url_vc_short_url');
    bindChangeEvent('big_url_vc_short_url');
  </script>
</div>