<div class="main_form" id="main_form">
    <%= form_for(:big_url, :remote => true) do |f| %>

      <input name="authenticity_token"
             type="hidden"
             value="<%= form_authenticity_token %>"/>

      <table>
        <tr class="input_row">
          <td class="label"><%= f.label :url_input, t('home.url_input') %>:</td>
          <td class="field"><%= f.text_field :vc_real_url,
                                             placeholder: t(:'home.placeholder.vc_real_url'),
                                             size: 100,
                                             value: @big_url.present? ? @big_url.vc_real_url : '' %></td>
        </tr>

      </table>

      <div class="toggle_content" <%unless @big_url.present? && @big_url.vc_short_url.present?%> style="display: none;" <% end %> >
        <table>
          <tr class="input_row">
            <td class="label">
              <%= f.label :url_alias, t('home.url_alias') %>:
            </td>
            <td class="field"><%= f.text_field :vc_short_url,
                                               placeholder: t(:'home.placeholder.vc_short_url'),
                                               size: 19,
                                               value: @big_url.present? ? @big_url.vc_short_url : '' %>
            </td>
            <td>
              <button id="check_alias_btn" type="button"> <%= t(:'home.check_alias_btn') %> </button>
            </td>
          </tr>
        </table>

      </div>

      <div class="slide_toggle"
           onclick="jQuery('.toggle_content').slideToggle('fast'); return false">
        <a class="pseudo_link"
           onclick="return false;"
           href="#" >
          <span>
            <%= t(:'home.additional_options') %>...
          </span>
        </a>
      </div>

      <div class="actions">
        <%= f.submit t('home.submit') %>
      </div>

    <% end %>

  <script>
    <% #TODO make preaty class for change button %>
    bindClickEvent('check_alias_btn', 'big_url_vc_short_url');
    bindChangeEvent('big_url_vc_short_url');
  </script>
</div>