<div class="not_found">
<h1> <%= t(:'not_found.title') %> </h1>
<h2> <%= t(:'not_found.message') %> </h2>
<h3> <%= t(:'not_found.advice') %> </h3>
<a class="link_to_home" href="<%= url_for :root %>"> <= <%= t(:'common.messages.go_home') %> </a>
</div>

