<!DOCTYPE html>
<html>
<head>
  <title>CutURL</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% # stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    'application_fix', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="home_container">
    <%= render partial: 'head_menu/locales/language_menu' %>

    <%= yield %>
  </div>
</body>
<script type="text/javascript">
    I18n.locale = "<%= I18n.locale %>";
</script>
</html>
